<div class="mt-4">
    <h3>Dang Khoa Hoc</h3>

    <form method="post" action="/courses/store">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="description">Mo Ta</label>
            <input type="" class="form-control" id="description" name="description">
        </div>
        <div class="form-group">
            <label for="videoid">Video ID</label>
            <input type="" class="form-control" id="videoid" name="videoid">
        </div>
        <div class="form-group">
            <label for="level">level</label>
            <input type="" class="form-control" id="level" name="level">
        </div>

        <button type="submit" class="btn btn-primary">Add</button>
    </form>

</div>