<div class="search-from">
    <form method="POST" action="">
        <div class="form-group">
            <label for="search-input">Nhap</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Enter text">

        </div>

        <button type="submit" class="btn btn-primary">Tim Kiem</button>
    </form>
</div>